extends ../base.jade

block link
  link(rel='stylesheet',href='/stylesheets/admin-system.min.css')
  link(rel='stylesheet',href='/stylesheets/libs/bootstrap.min.css')
  
block content
  h1 基本信息
  h2 邮箱：#{user.accountInfo.email}
  h2 昵称：#{user.accountInfo.nickname}
  h2 用户id：#{user.accountInfo.uid}
  h3 注册时间：#{user.accountInfo.registerDate}
  h1 个人信息
  h2 出生日期：#{user.personInfo.bornDate}
  h2 年龄：#{user.personInfo.age}
  h2 性别：#{user.personInfo.sexual}
  
